body {
    background-image: url("assets/background.jpg");
}
p.small {
    line-height: 0.7;
}

p.big {
    line-height: 2.8;
}
.article {-webkit-flex:5 0px;
	flex:5 0px;
	-webkit-order:2;
	order:2;
}
.boxes {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}
right {
    float: right;
    margin: 0 0 10px 10px;
}

