h1{
	font-size: 50px;
	text-align: center;
	font-color: #000000;
}
body{
	background-image: url("assets/background.jpg");
}
#paragraph1{
	font-size: 20px;
	font-color: #000000;
	text-align: center;
}
#paragraph2{
	font-size: 20px;
	font-color: #000000;
	text-align: center;
}
#paragraph3{
	font-size: 20px;
	font-color: #000000;
	text-align: center;
}